* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: "Gill Sans";
  src: url(../css/fonts/Gill\ Sans.otf);
}
@font-face {
  font-family: "Gill Sans Italic";
  src: url(../css/fonts/Gill\ Sans\ Italic.otf);
}
@font-face {
  font-family: "Gill Sans Bold";
  src: url(../css/fonts/Gill\ Sans\ Bold.otf);
}
@font-face {
  font-family: "Gill Sans Light";
  src: url(../css/fonts/Gill\ Sans\ Light.otf);
}
@font-face {
  font-family: "Proxima Nova Thin";
  src: url(../css/fonts/Proxima-Nova-Thin.otf);
}
@font-face {
  font-family: "Proxima Nova Condensed";
  src: url(../css/fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
.site-wrapper {
  max-width: 1280px;
  min-height: 500px;
  margin: 0 auto;
}

.nav-holder {
  position: absolute;
  top: 0;
  z-index: 5;
  width: 100%;
}
.nav-holder nav {
  max-width: 980px;
  height: 90px;
  margin: 0 auto;
  border-bottom: 2px solid #FFF;
  display: flex;
  align-items: center;
  font-family: "Gill Sans";
}
.nav-holder nav .link-holder {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.nav-holder nav .link-holder .links {
  max-width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-holder nav .link-holder .links a {
  padding-right: 21.5px;
  padding-left: 21.5px;
  color: #FFF;
  text-decoration: none;
  font-size: 15px;
  border-right: 1px solid #79ADDC;
}
.nav-holder nav .link-holder .links a:last-child {
  border-right: none;
  padding-right: 0px;
}
.nav-holder .nav-black {
  border-bottom: 2px solid #000;
}
.nav-holder .a-black a {
  color: #000 !important;
}

.logo-img {
  background-image: url(../images/logo-white.png);
}

@media (max-width: 1200px) {
  .nav-holder {
    left: 13px;
    width: 95%;
  }
}
@media (max-width: 630px) {
  .nav-holder nav .link-holder .links a {
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav-holder nav .logo img {
    width: 80px;
  }
}
@media (max-width: 480px) {
  .nav-holder nav .link-holder .links a {
    font-size: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav-holder nav .logo img {
    width: 60px;
  }
}
@media (max-width: 420px) {
  .nav-holder {
    max-width: 90%;
  }
  .nav-holder nav .link-holder .links a {
    font-size: 10px;
    padding-left: 11px;
    padding-right: 11px;
  }
  .nav-holder nav .logo img {
    width: 50px;
  }
}
@media (max-width: 380px) {
  .nav-holder nav .link-holder .links a {
    font-size: 8.5px;
    padding-left: 7px;
    padding-right: 7px;
  }
}
.home .hero {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.home .hero .callout-holder {
  height: 70%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.home .hero .callout-holder .callout {
  margin: 0 auto;
  color: #FFF;
}
.home .hero .callout-holder .callout h1 {
  font-family: "Proxima Nova Condensed";
  font-size: 60px;
  margin-bottom: 25px;
}
.home .hero .callout-holder .callout p {
  font-family: "Gill Sans Italic";
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 48px;
}
.home .hero span {
  margin: 0 auto;
  height: 40px;
  width: 121px;
  display: block;
  background-color: #79ADDC;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-family: "Gill Sans";
  font-size: 15px;
  cursor: pointer;
}
.home .home-page {
  min-height: 1250px;
}
.home .home-page .tours-home {
  margin: -43px auto 0 auto;
  display: flex;
  justify-content: space-between;
  min-height: 304px;
  max-width: 818px;
}
.home .home-page .tours-home .tour-card {
  min-height: 304px;
  width: 236px;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.home .home-page .tours-home .tour-card .tour-text {
  color: #FFF;
  font-family: "Proxima Nova Condensed";
  margin-top: 50px;
}
.home .home-page .tours-home .tour-card .tour-text h1 {
  font-size: 60px;
  line-height: 73px;
}
.home .home-page .tours-home .tour-card .tour-text h2 {
  font-size: 30px;
  line-height: 5px;
  margin-bottom: 60px;
}
.home .home-page .tours-home .tour-card .tours-button {
  margin: 0 auto;
  height: 40px;
  width: 133px;
  background-color: #79ADDC;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .home-page .tours-home .tour-card .tours-button a {
  font-family: "Gill Sans";
  text-decoration: none;
  color: #FFF;
}
.home .home-page .form-wrap {
  margin: 50px auto 0 auto;
  max-width: 818px;
}
.home .home-page .form-wrap h1 {
  font-family: "Proxima Nova Condensed";
  font-size: 60px;
}
.home .home-page .form-wrap .form {
  font-family: "Gill Sans Light";
  font-size: 18px;
}
.home .home-page .form-wrap .form input {
  border: solid #79ADDC 2px;
  height: 58px;
  padding: 5px;
  margin-bottom: 20px;
}
.home .home-page .form-wrap .form .form-info {
  margin-top: 30px;
  min-height: 58px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home .home-page .form-wrap .form .form-info .left {
  width: 42%;
  height: 58px;
  padding: 20px;
}
.home .home-page .form-wrap .form .form-info .right {
  width: 55%;
  height: 58px;
  padding: 20px;
}
.home .home-page .form-wrap .form .single-line {
  position: relative;
}
.home .home-page .form-wrap .form .single-line .in {
  margin-right: 52px;
}
.home .home-page .form-wrap .form .single-line .out {
  margin-right: 41px;
}
.home .home-page .form-wrap .form .single-line .date-input {
  width: 85%;
  padding: 20px;
}
.home .home-page .form-wrap .form .single-line .icon {
  font-size: 18px;
  position: absolute;
  margin: 20px -40px;
}
.home .home-page .form-wrap .form .family-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
  margin-bottom: 20px;
}
.home .home-page .form-wrap .form .family-input select {
  height: 58px;
  width: 11%;
  padding: 15px;
  border: solid #79ADDC 2px;
  font-family: "Gill Sans Light";
  font-size: 18px;
}
.home .home-page .form-wrap .form textarea {
  width: 100%;
  height: 192px;
  padding: 20px;
  font-family: "Gill Sans Light";
  font-size: 18px;
  border: solid #79ADDC 2px;
  margin-bottom: 35px;
}
.home .home-page .form-wrap .form .submit {
  color: #FFF;
  width: 100%;
  background-color: #79ADDC;
  font-size: 15px;
  font-family: "Gill Sans";
  border-radius: 30px;
  text-transform: uppercase;
}

.israel-tour {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-01.jpg);
}

.us-tour {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-02.jpg);
}

.aussie-tour {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-03.jpg);
}

@media (max-width: 1200px) {
  .form-wrap h1 {
    text-align: center;
  }
  .form-wrap .form {
    width: 90%;
    margin: 0 auto;
  }
  .form-wrap .form .single-line .date-input {
    min-width: 100%;
    margin-top: 5px;
  }
  .form-wrap .form .submit {
    padding-bottom: 80px;
  }
}
@media (max-width: 860px) {
  .home .tours-home {
    flex-direction: column;
    align-items: center;
  }
  .home .tours-home .tour-card {
    margin-bottom: 20px;
  }
}
@media (max-width: 620px) {
  .form-wrap .form .family-input select {
    width: 65px !important;
  }
}
@media (max-width: 566px) {
  .form-wrap .form .family-input {
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  .home .hero .callout-holder .callout p {
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  .form-wrap .form .family-input select {
    width: 47px !important;
    padding: 5px !important;
  }
}
@media (max-width: 340px) {
  .home .hero .callout-holder .callout p {
    font-size: 14px;
    line-height: 20px;
  }
}
.about {
  max-width: 980px;
  margin: 0 auto;
  min-height: 950px;
}
.about .about-text h1 {
  margin-top: 180px;
  border-bottom: solid 2px #000;
  width: 171px;
  font-size: 60px;
  letter-spacing: 5px;
  font-family: "Proxima Nova Condensed";
}
.about .about-text p {
  margin-top: 35px;
  margin-bottom: 100px;
  font-family: "Gill Sans";
  font-size: 16px;
}
.about h2 {
  letter-spacing: 2px;
  border-bottom: solid 2px #000;
  width: 225px;
  font-family: "Proxima Nova Condensed";
  font-size: 40px;
}
.about .client-holder {
  display: flex;
  max-width: 712px;
  height: 150px;
  margin: 35px 0px;
}
.about .client-holder .client-photo {
  height: 100%;
  width: 35%;
}
.about .client-holder .client-text {
  height: 100%;
  width: 65%;
  margin-left: 20px;
  font-family: "Gill Sans Italic";
  font-size: 16px;
  line-height: 20px;
}
.about .client-holder .client-text .client-name {
  color: #79ADDC;
  margin-top: 70px;
  text-align: end;
  font-size: 20px;
  font-family: "Proxima Nova Thin";
}

.miranda {
  background-image: url(../images/about-client-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.johnathan {
  background-image: url(../images/about-client-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 1024px) {
  .content-wrapper {
    margin: 0 auto;
    width: 93%;
  }
}
@media (max-width: 768px) {
  .content-wrapper .about .client-holder .client-name {
    margin-top: 36px !important;
  }
}
@media (max-width: 500px) {
  .content-wrapper .about .client-holder .client-name {
    margin-top: 15px !important;
  }
}
@media (max-width: 425px) {
  .content-wrapper .about .client-holder .client-text {
    font-size: 14px !important;
    line-height: 18px !important;
  }
  .content-wrapper .about .client-holder .client-name {
    font-size: 18px !important;
  }
}
footer {
  background-color: #79ADDC;
  font-family: "Gill Sans";
  width: 100%;
  color: #FFF;
  height: 100px;
  display: flex;
  align-items: center;
}
footer .footer {
  margin: 0 auto;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer p {
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
}
footer .footer .socials {
  display: flex;
  justify-content: space-evenly;
  width: 120px;
  font-size: 20px;
}
footer .footer .socials a {
  text-decoration: none;
  color: #FFF;
}

@media (max-width: 1200px) {
  footer {
    margin-top: 53px;
  }
  footer .footer {
    width: 95%;
  }
}
@media (max-width: 860px) {
  footer {
    margin-top: 113px;
  }
}
@media (max-width: 500px) {
  footer .footer p {
    font-size: 8px;
  }
  footer .footer img {
    width: 80px;
  }
}
@media (max-width: 500px) {
  footer .footer p {
    font-size: 8px;
  }
  footer .footer img {
    width: 80px;
  }
  footer .footer .socials {
    width: 100px;
  }
  footer .footer .socials a {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  footer .footer img {
    width: 60px;
  }
  footer .footer .socials {
    width: 90px;
  }
  footer .footer .socials a {
    font-size: 16px;
  }
}
@media (max-width: 360px) {
  footer .footer p {
    font-size: 7px;
  }
}

/*# sourceMappingURL=styles.css.map */
