footer {
    background-color: $blue;
    font-family: $GS;
    width: 100%;
    color: $white;
    height: 100px;
    display: flex;
    align-items: center;
    .footer {
        // background-color: green;
        margin: 0 auto;
        height: 100%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            font-size: 12px;
            text-align: center;
            margin: 0 auto;
        }
        .socials {
            display: flex;
            justify-content: space-evenly;
            // background-color: green;
            width: 120px;
            font-size: 20px;
            a {
                text-decoration: none;
                color: $white;
            }
        }
    }
}

@media (max-width: 1200px) {
    footer {
        margin-top: 53px;
    }
    footer .footer {
        width: 95%;
    }
}

@media (max-width: 860px) {
    footer {
        margin-top: 113px;
    }
}

@media (max-width: 500px) {
    footer .footer p {
        font-size: 8px;
    }
    footer .footer img {
        width: 80px;
    }
}

@media (max-width: 500px) {
    footer .footer p {
        font-size: 8px;
    }
    footer .footer img {
        width: 80px;
    }
    footer .footer .socials {
        width: 100px;
    }
    footer .footer .socials a {
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    footer .footer img {
        width: 60px;
    }
    footer .footer .socials {
        width: 90px;
    }
    footer .footer .socials a {
        font-size: 16px;
    }
}

@media (max-width: 360px) {
    footer .footer p {
        font-size: 7px;
    }
}