.israel {
    padding-top: 143px;
    max-width: 980px;
    margin: 0 auto;
    min-height: 2000px;
    .package-hero {
        // background-color: green;
        width: 100%;
        height: 413px;
        color: $white;
        font-family: $NovaC;
        @include image-format;
       .package-text {
        width: 100%;
        height: 50%;
        padding: 30px;   
        h1 {
            font-size: 70px;
        } 
       }
       .price-text {
        height: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: end;
        padding-right: 15px;
        p {
            font-size: 30px;
        }
       }
    }
    .pic-wrap {
        height: 400px;
        width: 100%;
        // background-color: red;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        .tour-pic {
            // background-color: orange;
            height: 347px;
            width: 30%;
            @include image-format;
        }
    }
    .tour-text {
        margin-bottom: 80px;
        h2 {
            font-size: 60px;
            width: 175px;
            letter-spacing: 5px;
            border-bottom: 2px solid $black;
            font-family: $NovaC;
        }
        p {
            margin-top: 35px;
            font-size: 16px;
            font-family: $GS;
        }
    }
    .button {
        display: flex;
    .book {
        margin: 0 auto;
        padding: 10px 33px;
        background-color: $blue;
        color: $white;
        font-family: $GS;
        font-size: 15px;
        border-radius: 20px;
        cursor: pointer;
    }
}
}

.israel1 {
    background-image: url(../images/israel-tour-01.jpg);
}

.israel2 {
    background-image: url(../images/israel-tour-02.jpg);
}

.israel3 {
    background-image: url(../images/israel-tour-03.jpg);
}