* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}

@font-face {
    font-family: 'Gill Sans';
    src: url(../css/fonts/Gill\ Sans.otf);
}

@font-face {
    font-family: 'Gill Sans Italic';
    src: url(../css/fonts/Gill\ Sans\ Italic.otf);
}

@font-face {
    font-family: 'Gill Sans Bold';
    src: url(../css/fonts/Gill\ Sans\ Bold.otf);
}

@font-face {
    font-family: 'Gill Sans Light';
    src: url(../css/fonts/Gill\ Sans\ Light.otf);
}

@font-face {
    font-family: 'Proxima Nova Thin';
    src: url(../css/fonts/Proxima-Nova-Thin.otf);
}

@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url(../css/fonts/ProximaNovaScOsfExtraCondensed.ttf);
}

.site-wrapper {
    max-width: $site-width;
    min-height: 500px;
    // background-color: green;
    margin: 0 auto;
}



