.tours {
    // background-color: red;
    max-width: 980px;
    margin: 0 auto;
    min-height: 1610px;
    padding-top: 1px;
    .tours-hero {
        margin-top: 142px;
        width: 100%;
        height: 200px;
        background-color: aqua;
        display: flex;
        align-items: center;
        justify-content: center;
        @include image-format;
        p {
            color: $white;
            font-size: 60px;
            font-family: $NovaC;
            letter-spacing: 5px;
        }
    }
.tours-wrapper {
    // background-color: green;
    margin: 0 auto;
    width: 95%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .tour-card {
            min-height: $tour-banner-height;
            width: $tour-banner-width;
            background-position: center;
            background-size: cover;
            text-align: center;
            margin-top: 55px;
                .tour-text {
                    color: $white;
                    font-family: $NovaC;
                    margin-top: 50px;
                    h1 {
                        font-size: 60px;
                        line-height: 73px;
                    }
                    h2 {
                        font-size: 30px;
                        line-height: 5px;
                        margin-bottom: 60px;
                    }
                    .newz {
                        font-size: 53px;
                    }
                }
                .tours-button {
                    margin: 0 auto;
                    height: 40px;
                    width: 133px;
                    background-color: $blue;
                    border-radius: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a {
                        font-family: $GS;
                    text-decoration: none;
                    color: $white;
                    }
                }
            }
        }
    }

.tours-head {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/tours-header.jpg);
}

.newz-tour {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/tour-04.jpg);
}

.france-tour {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/tour-05.jpg);
}

.egypt-tour {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/tour-06.jpg);
}

.japan-tour {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/tour-07.jpg);
}

.canada-tour {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/tour-08.jpg);
}

.uae-tour {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/tour-09.jpg);
}

@media (max-width: 1024px) {
    .tours {
        padding-top: 142px;
    }
    .tours .tours-hero {
        margin: 0 auto;
        width: 95%;
    }
}