// site structure vars
$site-width: 1280px;
$hero-height: 500px;

// tour banners
$tour-banner-height: 304px;
$tour-banner-width: 236px;

// round button structure
$roundButton-width: 133px;
$roundButton-height: 40px;

//form structure
$input-height: 58px;

// site colors
$blue: #79ADDC;
$white: #FFF;
$black: #000;

// site fonts
$GS: 'Gill Sans';
$GS-Italic: 'Gill Sans Italic';
$GS-Bold: 'Gill Sans Bold';
$GS-Light: 'Gill Sans Light';
$Nova: 'Proxima Nova Thin';
$NovaC: 'Proxima Nova Condensed';